        @charset "UTF-8";

        @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 100vh;
        }
        .container>a>img{
            display: flex;
            margin: 3% auto;
            width: 40%;
        }
        .container {
            max-width: 400px;
            margin: 0 auto ;
            padding: 0% 5% 3% 5%;
            background-color: rgb(248, 240, 229,0.5);
            border: 1px solid #ddd;
            border-radius: 8px;
        }

       .container-h2{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 15px auto 20px;
            
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        /* 버튼부분 */
        .membership2-submit-btn{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            
        }
        .submit-btn {
            margin-top: 85%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
        .membership2-submit-btn>button:nth-child(1){
            width: 15%;
            background-color: rgb(234, 219, 200, 0.5);
            color: #575757;
        }
        .membership2-submit-btn>button:nth-child(2){
            width: 82%;
            background-color: #102c57;
            font-weight: 600;
        }
