@charset "ute-8";
a{
  text-decoration: none;
  color: rgb(121, 121, 121);
}
.top-header {
  border: 1px solid #eee;
  width: 600px;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.search-icon{
  font-size: 24px;
  cursor: pointer;
}
.search-icon i{
  color: #fff;
  transition: color 0.3s ease;
  z-index: 999;
}
input[type="text"] {
  width: 486px;
  padding: 10px;
  font-size: 13px;
  border: none;
  background-color: rgb(214, 214, 214);
  /* background: transparent; */
}
#h2-header{
  font-size: 14px;
  width: 600px;
  margin: 0 auto;
}
.list-container {
  width: 600px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: decimal; /* ol 기본 번호 표시 */
  margin: 0 auto;
  gap: 10px; /* li 간격 */
  list-style: none;
}
.list-container div{
  float: left;
}
.list-container li {
  flex: 1 1 calc(20% - 10px); /* 각 li의 너비 설정 (5개씩) */
  min-width: 100px;
  text-align: left;
  padding: 0px 20px 10px 0px;
  margin: 10px auto;
}
.search_01{
  width: 210px;
  float: left;
}
.search_02 {
  width: 210px;
  position: fixed;
}